* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./imagenes/konoha.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}


h1 {
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.intentos-restantes {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.errores-us {
  color: red;
}

.container-input {
  margin-left: 350px;
}

input {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 400px;
  border-radius: 5%;
  border: solid black 1px
}

.button-game {
  background-color: blue;
  width: 100px;
  height: 40px;
  border: 1px blue solid;
  border-radius: 7px;
  color: white;
}

.tablaFiltrada {
  width: 400px;
  background: rgba(255,255,255,0.5);
}

.filtro{
  background-color: white;
  list-style: none;
  align-items: flex-start;
  transition: 1s ease;
  background: rgba(255,255,255,0.5);
}



.filtro td {
  width: 100px;
}
table, th, td {
  border: 1px solid;
}

.display {
  display: none;
}

.display-block {
  display: block;
}

table {
  background-color: white;
  width: 1000px;
  
}

th {
  text-align: center;
  font-size: 25px;
}

td {
  text-align: center;
  font-size: 20px;
}




